{{ $baseUrl := .Site.BaseURL }}
{{ partial "header.html" . }}

<div class="container">

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>{{ .Site.Title }}</h1>
            <p>{{ .Site.Params.Description }}</p>
        </div>
    </div>
</div>

<div class="row doc-main">
    <div class="col-sm-12">
        <main role="main">
{{ range where .Site.Pages "Title" "快速开始"}}
            <article>
                <a id="title"></a>
                <h1 class="doc-entry-title">{{ .Title }}</h1>
                <section>
                    {{ .Content }}
                </section>
            </article>
{{ end }}
        </main>
    </div>
</div>

<hr />

<div class="row doc-main text-center">
    <div class="col-sm-12">
        <a href="{{ $baseUrl }}/post">更多文章</a>
    </div>
</div>

{{ partial "footer.html" . }}
