{{ partial "header.html" . }}

<div class="container-fluid">

<div class="row">
    <div class="col-xs-12 col-sm-3">
        {{ partial "menu.html" . }}
    </div>
    <div class="col-xs-12 col-sm-9 doc-main">
        {{ range where .Site.Pages "RelPermalink" "/doc/overview/introduction/"}}
        <main role="main">
            <article>
                <a id="title"></a>
                <h1 class="doc-entry-title">{{ .Title }}</h1>
                <section>
                    {{ .Content }}
                </section>
            </article>
        </main>
        <br />
        {{ if .IsPage }}
        <div class="row">
            <div class="col-xs-6 col-sm-6 text-center">
                {{ with .GetParam "prev" }}
                <a href="{{.}}">&lt; 上一篇</a>
                {{ end }}
            </div>
            <div class="col-xs-6 col-sm-6 text-center">
                {{ with .GetParam "next" }}
                <a href="{{.}}">下一篇 &gt;</a>
                {{ end }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div> 
</div>

{{ partial "footer.html" . }}
