/*
 * Globals
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  padding-top: 70px;
  padding-bottom: 30px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  color: #333;
}

h1, .h1,
h2, .h2 {
  border-bottom: 1px solid #eee;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * Main column and sidebar layout
 */

.doc-main {
  font-size: 18px;
  line-height: 1.5;
}

.doc-main img {
  max-width: 80%;
  height: auto;
}

.doc-main p {
  word-wrap: break-word
}

.doc-main pre {
    padding: 3px;
}

.doc-main pre code {
  font-size: 16px;
}

/* List items */
.doc-list-header {
}
.doc-entry {
  color: #666;
}
.doc-entry-title {
  color: #666;
}
.doc-entry-meta {
  font-style: italic;
  text-align: right;
  color: #999;
  margin-bottom: 10px;
}

.post-row {
  margin-bottom: 20px;
}

/* Sidebar modules for boxing content */

.doc-sidebar {
  margin-right: -25%;
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.sidebar-toc ul li {
  list-style-type: none;
  list-style-position: outside;
  margin-left: -1.5em;
  padding: 0;
}

.tag-box {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
}
.tag-item {
  margin: 5px;
  padding: 2px 5px;
  border-radius: 4px;
  line-height: 2;
  background-color: #ffffff;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Footer
 */

.doc-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.doc-footer p:last-child {
  margin-bottom: 0;
}
.doc-footer-em {
  font-size: 16px;
}

.showcase-container .thumbnail img.img-responsive{
  margin-bottom: 10px;
}

.showcase-container .thumbnail h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.nav-list > li > a {
  padding: 3px 15px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  background-color: #08c;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}

.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: ((1.428571429 / 2) - 1) 1px; // 8px 1px
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #428bca;
  border-bottom: 1px solid white;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.428571429;
  color: #999;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  text-transform: uppercase;
}
// Space them out when they follow another list item (link)
.nav li + .nav-header {
  margin-top: 9px;
}
