.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Single */
.btn-block {
  display: block;
  width: 100%;
}
.back-link{
    margin-bottom: 15px;
}
#theme-header {
    overflow: hidden;
    height: 410px;
    position: relative;
    border: 1px #ccc solid;
}

#theme-header img.screenshot-blurred {
    position: absolute;
    width: 115%;
    height: auto;
    left:0px;
    top:0px;
    opacity: 0.4;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    /* Cross Browser Compatibility */
    filter: url(blur.svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
    z-index: 15;
}

#theme-header .screenshot-container {
    padding: 40px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#theme-header img.screenshot-normal {
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#theme-header div.dark-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    background: rgba(6, 148, 203, 0.3);
    /*background: rgba(10, 10, 10, 0.1);*/
}

#theme-header .row {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 40;
    height: 100%;
}

#theme-header .row .col-md-6 {
    float: right;
}

#theme-header .theme-details {
    margin-top: 35px;
    padding-left: 25px;
}

#theme-header .theme-details h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    color: #232323;
    border-bottom: none;
}

#theme-header .theme-details .description {
    color: #232323;
}

#theme-header .theme-details ul.theme-meta {
    list-style-type: none;
    margin: 10px 0px 0px 0px;
    padding: 0;
}

#theme-header .theme-details ul.theme-meta  li{
    line-height: 30px;
}

#theme-header .theme-details ul.theme-meta span.label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
    opacity: 0.95;

}

#theme-header .theme-details ul.theme-meta a, #theme-header .theme-details ul.theme-meta span.value {
    font-weight: bold;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.45);
    padding:2px 8px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#theme-header .theme-details ul.theme-meta span.value {
    color: #454545;
}

#theme-header .theme-buttons {
    position: absolute;
    left: 30px;
    bottom: 35px;
}

#theme-header .theme-buttons .btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-right:5px;
}

#theme-header .theme-buttons .btn i{
    padding-right: 10px;
}

#theme-header .theme-buttons a.btn{
    padding:10px 8px !important;
    border: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

#theme-header .theme-buttons a.btn-info {
    background: #00a0f0 !important;
    text-decoration: none !important;
}

#theme-header .theme-buttons a.btn-success {
    background: #34ad00 !important
}

#theme-header .theme-buttons a.btn:hover {
    color: #FFF;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#theme-header .theme-buttons a.btn:after {
    background-color: transparent;
}

#theme-header .theme-buttons a.btn-dark {
    color: #242424;
}

#theme-header .theme-buttons a.btn-dark:hover {
    color: #121212;
}

.content {
    border-top: none;
    margin-top: 10px;
    padding:10px;
    font-size: 18px;
    line-height: 1.5;
}

.content pre {
    padding: 3px;
}

.content p {
  word-wrap: break-word
}

.content pre code {
    font-size: 16px !important;
}

.content img { max-width: 80%;}

/* Thumbnail */
.thumbnail-container-parent{
    padding-bottom:1em;
}

.thumbnail-container{
    width: 100%;
    padding-bottom: 75%;
    position: relative;
}
.thumbnail-container .thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #eee;
}
.thumbnail-container .thumbnail img.img-responsive{
    width: 100%;
    height: auto;
    display: block;
}

.thumbnail-container .thumbnail .thumbnail-meta {
    position: absolute;
    width: 100%;
    height: 48px;
    line-height: 45px;
    left: 0px;
    bottom: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0px 10px;
    background: rgba(255, 255, 255, 0.9);
    border-top: 3px rgba(220, 220, 220, 0.08) solid;
    transition: all .2s linear;
    cursor: pointer;
}

.thumbnail-container .thumbnail .thumbnail-meta h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 45px;
}

.thumbnail-container .thumbnail .thumbnail-meta h4 a {
    line-height: 45px;
    text-decoration: none !important;

}

.thumbnail-container .thumbnail:hover .thumbnail-meta {
    background: rgba(255, 64, 136, 0.9);
    height: 55px;
}

.thumbnail-container .thumbnail:hover .thumbnail-meta h4 a {
    color: #FFFFFF;
}

.thumbnail-container .thumbnail .thumbnail-meta .license {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
    max-width: 55px;
    overflow: hidden;
    text-transform: uppercase;
}

.thumbnail-container .thumbnail:hover .thumbnail-meta .license {
    opacity: 0.0;
}

.thumbnail-container .thumbnail h4 a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    line-height: 100%;
}
